#/**
# Copyright (c) 2017 Jean-Christophe Dubois.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Jean-Christophe Dubois (jcd@tribudubois.net)
# @brief config file for apps
# */

config CONFIG_APP_APP3
        bool "App3 demo app"
        default n
        help
	  Demo third app

config CONFIG_APP_APP3_PRIORITY
        int "App3 App priority"
        depends on CONFIG_APP_APP3
        default 0
        range 0 255
        help
          Priority for the third task
~                                    
