#
# Files to be excluded
#
.*
*.o
*.elf
*.bin
*.lnk
*.dis
*.bak
gdbinit0
gdbinit1
typescript
build/
cov-int/
test_*objs/
cscope.*
*~
#
# Exceptions
#
!.gitignore
!.gitmodules
!.travis.yml

tags
.*.swp
/obj/
