#/**
# Copyright (c) 2017 Jean-christophe Dubois.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Jean-Christophe Dubois (jcd@tribudubois.net)
# @brief config file for kernel options
# */

menu "Kernel Options"

config CONFIG_VERBOSE_MODE
	bool "Verbose Mode"
	default n
	select CONFIG_PRINTF
	help
	  Print too many message of events at boot time, normal operation, and
	  shutdown time. 

config CONFIG_MAX_TASK_COUNT
	int "Max. Task Count"
	default 32
	range 1 32
	help
	  Specify the maximum number of Tasks allowed in the system.

choice
        prompt "Mailbox message size in bytes"
        default CONFIG_MBX_MSG_SIZE_4
        help
                Select the size of the mbx message

        config CONFIG_MBX_MSG_SIZE_1
                bool "1"
                help
                 Select this if you need MBX to be 8 bits.

        config CONFIG_MBX_MSG_SIZE_2
                bool "2"
                help
                 Select this if you need MBX to be 16 bits.

        config CONFIG_MBX_MSG_SIZE_4
                bool "4"
                help
                 Select this if you need MBX to be 32 bits.

        config CONFIG_MBX_MSG_SIZE_8
                bool "8"
                help
                 Select this if you need MBX to be 64 bits.
endchoice

config CONFIG_MBX_SIZE
	int
	default 8 if CONFIG_MBX_MSG_SIZE_1
	default 16 if CONFIG_MBX_MSG_SIZE_2
	default 32 if CONFIG_MBX_MSG_SIZE_4
	default 64 if CONFIG_MBX_MSG_SIZE_8

config CONFIG_TASK_MBX_COUNT
	int "Number of Mailbox a task can receive"
	default 32
	range 1 64
	help
	  Specify the number of mailbox each task could receive.

endmenu

config CONFIG_NONE_UART
	bool
	default n
	default y if CONFIG_SPARC_NONE_UART
	default y if CONFIG_ARM_NONE_UART
