#/**
# Copyright (c) 2017 Jean-christophe Dubois.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file openconf.cfg
# @author Jean-Christophe Dubois (jcd@tribudubois.net)
# @brief config file for kernel options
# */

menu "Kernel Options"

config CONFIG_VERBOSE_MODE
	bool "Verbose Mode"
	default n
	select CONFIG_PRINTF
	help
	  Print too many message of events at boot time, normal operation, and
	  shutdown time. 

config CONFIG_IRQ_STACK_SIZE
	int "Stack Size for Interrupt Processing."
	default 4096
	help
	  Specify the stack size for Exception processing.

config CONFIG_KERNEL_STACK_SIZE
	int "Stack Size for kernel Processing."
	default 4096
	help
	  Specify the stack size for Kernel processing.

config CONFIG_TASK_STACK_SIZE
	int "Stack Size for Task Processing."
	default 8192
	help
	  Specify the stack size for Task processing.
	  NOTE: There is only a single stack shared by all tasks.

config CONFIG_MAX_TASK_COUNT
	int "Max. Task Count"
	default 32
	range 1 32
	help
	  Specify the maximum number of Tasks allowed in the system.

config CONFIG_MBX_MSG_SIZE
	int "Mailbox message size in bytes"
	default 3
	range 1 8
	help
	  Specify the size of the mailbox message.

config CONFIG_TASK_MBX_COUNT
	int "Number of Mailbox a task can receive"
	default 32
	range 1 64
	help
	  Specify the number of mailbox each task could receive.

endmenu
